.Checkout {
    display: grid;
    grid-template-columns: minmax(1fr, 500px) minmax(1fr, 500px);
    justify-content: center;
    grid-gap: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .checkout-item-1, .checkout-item-2, .checkout-item-3, .checkout-item-6, .checkout-item-7, .checkout-item-8, .checkout-item-9, .checkout-item-10, .checkout-item-11 {
      grid-column-start: 1;
      grid-column-end: 3;
  }
  
  .checkout-item-4 {
      grid-column-start: 1;
      grid-column-end: 2;
  }
  
  .checkout-item-5 {
      grid-column-start: 2;
      grid-column-end: 3;
  }

  .firstNameLabel, .lastNameLabel, .emailLabel, .phoneNumberLabel, .addressLabel, .postalCodeLabel, .cityLabel {
    display: block;
    text-align: left;
    margin-top: 5px;
    margin-left: 15px;
  }
  
  .firstNameInput, .lastNameInput, .emailInput, .phoneNumberInput, .addressInput, .postalCodeInput, .cityInput {
    width: 100%;
    padding: 12px;
    margin: 2px 0;
    box-sizing: border-box;
  }
  
  .serviceDescription {
    width: 100%;
    padding-top: 2px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
  }

  .serviceDescription-item-1, .serviceDescription-item-2, .serviceDescription-item-3 {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .checkoutTotal {
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
  }

  .checkoutCost {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: right;
    font-weight: bold;
    font-size: 18px;
  }
  
  .confirmButton {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 50%;
    padding: 12px;
    border-radius: 20px;
    max-width: 250px;
  }

  
  