.Checkout {
    display: grid;
    grid-template-columns: minmax(1fr, 500px) minmax(1fr, 500px);
    justify-content: center;
    grid-gap: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .checkout-item-1, .checkout-item-2, .checkout-item-3, .checkout-item-6, .checkout-item-7, .checkout-item-8, .checkout-item-9, .checkout-item-10, .checkout-item-11 {
      grid-column-start: 1;
      grid-column-end: 3;
  }
  
  .checkout-item-4 {
      grid-column-start: 1;
      grid-column-end: 2;
  }
  
  .checkout-item-5 {
      grid-column-start: 2;
      grid-column-end: 3;
  }
  
  .firstNameLabel, .lastNameLabel, .emailLabel, .phoneNumberLabel, .addressLabel, .postalCodeLabel, .cityLabel {
    display: block;
    text-align: left;
    margin-top: 5px;
    margin-left: 15px;
  }
  
  .firstNameInput, .lastNameInput, .emailInput, .phoneNumberInput, .addressInput, .postalCodeInput, .cityInput {
    width: 100%;
    padding: 12px;
    margin: 2px 0;
    box-sizing: border-box;
    background: #FFFFFF;
    opacity: 0.7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    border: none;
  }
  
  .serviceDescription {
    width: 100%;
    padding-top: 2px;
    padding-left: 10px;
    padding-bottom: 2px;
    padding-right: 10px;
    background: #FFFFFF;
    box-sizing: border-box;
    opacity: 0.7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-size: 16px;
    text-align: left;
  }
  
  .confirmButton {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 50%;
    background: #555555;
    mix-blend-mode: darken;
    font-size: 16px;
    color: white;
    padding: 12px;
    border-radius: 20px;
    border: none;
    max-width: 250px;
  }
  
  