.ServicePersonDetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 500px;
}

.details-item-1, .details-item-4, .details-item-5 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.details-item-4 {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
}

.details-item-5 {
    margin-top: 10px;
    font-size: 16px;
    text-align: left;
}

.details-item-1 {
    height: 50px;
}

.details-item-2 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.details-item-2 img {
    width: 100%;
    max-width: 200px;
}

.details-item-3 {
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    max-width: 500px;
}

.details-book-button {
    padding: 8px;
    max-width: 150px;
    border: none;
    width: 50%;
}

.details-person-name {
    font-size: 24px;
    font-weight: bold;
    padding-top: 20%;
}

.details-person-stars {
    font-size: 16px;
}

