.PersonBlock{
    position: relative;
    height: 30%;
    /* max-height: 150px; */
    left: 0px;
    margin:auto;
    width:100%;
    /* max-width: 768px; */
    background: #FFFFFF;
    opacity: 0.8;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

.Avatar{
    margin-left: 0;
    width: 35%;
    height: auto;
    object-fit: cover;
}
.PersonInfo{
    position: relative;
    margin: auto;
    /* margin-left: 50%; */
    width: 30%;
    text-align:center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: black;

}

.SearchBar{
    margin: 20px;
    position: relative;
    width: 55%;
    height: width*0.2;
    border-radius: 33px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    border: none;
}
.scrollable-list{
    top: 180px;
    height: 80%;
}