.PersonBlock{
    position: relative;
    height: 136px;
    left: 0px;
    margin:auto;
    width:100%;
    background: #FFFFFF;
    opacity: 0.7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Avatar{
    margin-left: 0;
    width: 30%;
}
.PersonInfo{
    position: relative;
    margin: auto;
    padding-left: 50%;
    width: 40%;
    text-align:center
}
.SearchBar{
    margin: 20px;
    position: relative;
    width: 55%;
    height: width*0.2;
    border-radius: 33px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    border: none;
}
.react-scrollable-list{
    top: 180px;
}